<?xml version="1.0"?>
<config>
    <modules>
        <FW_Downloadable>
            <version>0.0.2</version>
        </FW_Downloadable>
    </modules>
    <global>
        <models>
            <fw_downloadable>
                <class>FW_Downloadable_Model</class>
            </fw_downloadable>
            <downloadable>
                <rewrite>
                    <product_type>FW_Downloadable_Model_Product_Type</product_type>
                </rewrite>
            </downloadable>
        </models>
	<resources>
            <fw_downloadable_setup>
                <setup>
                    <module>FW_Downloadable</module>
		    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </fw_downloadable_setup>
        </resources>
	<events>
		<catalog_product_save_before>
			<observers>
				<fw_downloadable_default_links>
					<class>fw_downloadable/observer</class>
					<method>handleDefaultLinksPurchasedSeperately</method>
				</fw_downloadable_default_links>
			</observers>	
		</catalog_product_save_before>
	</events>
    </global>
    <frontend>
       <routers>
            <downloadable>
                <args>
                    <modules>
                        <FW_Downloadable before="Mage_Downloadable">FW_Downloadable</FW_Downloadable>
                    </modules>
                </args>
            </downloadable>
        </routers>
    </frontend>
</config>
